@import '../../styles/settings.scss';

nav {
  background: darken($color-dark, 3%);
  padding: 2px 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  display: inline-flex;
}

li a {
  text-decoration: none;
  margin: 5px;
  font-size: 16px;
  color: $color-light;
  font-weight: 600;
}

.icon i {
  font-size: 24px;
  color: $color-light;
}

.linkActive {
  color: $color-warning;
}
